* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, head, body{
  height: 100%;
  width: 100%;
}
.user-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  margin: 30px;
}

.user-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-form .MuiFormControl-root {
  margin: 20px;
}

.user-btn-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user-btn-row .MuiButtonBase-root {
  margin: 15px;
}